body {
  background-image: url("../images/01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

main {
  width: 90%;
  margin: 0 auto;
}

.main_content h1 {
  color: #ffffff;
  font-size: 40px;
  border-bottom: solid 2px #cccccc;
}
.main_content h2 {
  color: #ffffff;
  margin: 20px 0;
  border-left: solid 5px #cccccc;
  padding-left: 10px;
}
.main_content p {
  margin: 20px 0;
  color: #ffffff;
}

.profile_img {
  float: right;
  margin-right: 15%;
}

.profile {
  width: 50%;
  float: left;
}

.career {
  clear: both;
  color: #ffffff;
}
.career table {
  border-spacing: 0;
  border-collapse: collapse;
}
.career th {
  width: 300px;
  color: #000000;
  background-color: #f0f0f0;
  padding: 10px 0;
  border: solid 2px black;
}
.career td {
  width: 500px;
  padding: 0 0 0 40px;
  border: solid 2px black;
}
