body {
  margin: 0;
  padding: 0;
  background-color: #654321;
  font-size: 15px;
  line-height: 2;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: red;
  text-decoration: none;
}

header {
  width: 90%;
  height: 300px;
  margin: 0 auto;
}

.logo {
  float: left;
}

.main_nav {
  float: right;
  margin-top: 50px;
}
.main_nav li {
  float: left;
  margin: 0 20px;
  list-style: none;
  font-family: 'Bitter', serif;
}
.main_nav a {
  color: #ffffff;
  padding-bottom: 3px;
}
.main_nav a:hover {
  border-bottom: solid 3px #ffffff;
}

main {
  clear: both;
}

.main_content {
  widows: 90%;
}

footer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}
