body {
  background-image: url("../images/02.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

header img {
  background-color: #ffffff;
  border-radius: 5px;
}

main {
  width: 90%;
  margin: 0 auto;
}

.portfolio {
  color: #ffffff;
}
.portfolio h1 {
  border-bottom: solid 3px #cccccc;
}

.main_content {
  margin: 0 0 0 20px;
  width: 65%;
  float: left;
}
.main_content img {
  width: 100%;
  height: auto;
}
.main_content .lp {
  margin-bottom: 50px;
}
.main_content .lp a:hover {
  opacity: 0.7;
}
.main_content .ec a:hover {
  opacity: 0.7;
}
.main_content h1 {
  font-size: 40px;
}
.main_content p {
  margin: 20px 0;
  color: #cccccc;
}

aside {
  width: 25%;
  margin-right: 20px;
  float: right;
  text-align: center;
}
aside h1 {
  color: #ffffff;
  font-size: 25px;
}
aside li {
  list-style: none;
}
aside a {
  color: #ffffff;
}
aside a:hover {
  border-bottom: solid 2px red;
}
aside .lp {
  width: 80%;
  margin: 0 auto 20px auto;
}
aside .ec {
  width: 50%;
  margin: 0 auto;
}

footer {
  clear: both;
}
