@charset "utf-8";

@import "variables";
@import "mixin";

body
{
  @include background-image-init( "../images/01.jpg" );
}

main
{
  width: $widh-size;
  margin:  0 auto;
}

.main_content
{

  h1{
    color: #ffffff;
    font-size: 40px;
    border-bottom: solid 2px #cccccc;
  }
  h2{
    color: #ffffff;
    margin: 20px 0;
    border-left: solid 5px #cccccc;
    padding-left: 10px;
  }
  p{
    margin: 20px 0;
    color: #ffffff;
  }
}

.profile_img
{
  float: right;
  margin-right: 15%;
}

.profile
{
  width: 50%;
  float: left;
}

.career
{
  clear: both;
  color: #ffffff;
  table{
    border-spacing: 0; // テーブル同士の小さな隙間をなくす
    border-collapse: collapse; // テーブル同士の枠線が重なって太くなっている箇所をキレイに重ねて表示
  }
  th{
    width: 300px;
    color: #000000;
    background-color: #f0f0f0;
    padding: 10px 0;
    border: solid 2px black;
  }
  td{
    width: 500px;
    padding: 0 0 0 40px;
    border: solid 2px black;
  }
}